{% extends 'base.html' %}

{% block content %}

        <section class="section-header overflow-hidden pt-lg-5 pb-lg-12 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fw-bolder display-2">
                            Newspaper Agent
                        </h1>
                        <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                            Best virtual manager to organize your redactors team work
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <div class="section py-0">
            <div class="container mt-n10 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10"><img src="{{ ASSETS_ROOT }}/img/presentation-mockup-new.png"
                            alt="Pixel Free Mockup"></div>
                </div>
            </div>
        </div>

        <section class="section section-lg">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-6 col-md-3 text-center mb-4">
                        <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                            <span class="fas fa-puzzle-piece text-tertiary"></span>
                        </div>
                        <h3 class="fw-bolder">{{ num_topics }}</h3>
                        <p class="text-gray">Topics we work on</p>
                    </div>
                    <div class="col-6 col-md-3 text-center mb-4">
                        <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                            <span class="fas fa-pager text-tertiary"></span>
                        </div>
                        <h3 class="fw-bolder">{{ num_redactors }}</h3>
                        <p class="text-gray">Redactors in our team</p>
                    </div>

                    <div class="col-6 col-md-3 text-center">
                      <a href="{% url 'newspaper:article-list' %}">
                        <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                            <span class="fas fa-star text-tertiary "></span>
                        </div>
                        <h3 class="fw-bolder">{{ num_articles }}</h3>
                        <p class="text-gray">Articles posted by our redactors</p>
                        </a>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}

