{% extends "base.html" %}

{% block content %}
  <section class="body-main-centring">
    <h1>Are you sure you want to delete this topic?</h1>
    <br>
    {% if topic.articles.count %}
      <h4>*Warning: this topic relates to {{ topic.articles.count }} article{{ topic.articles.count|pluralize }}!</h4>
    {% endif %}
    <br>
    <form action="" method="post">
      {% csrf_token %}
      <br>
      <input type="submit" value="Yes" class="btn btn-danger">
      <a class="btn btn-secondary" href="{% url 'newspaper:topic-detail' pk=topic.pk %}">Cancel</a>
    </form>
  </section>
{% endblock %}
